/* Coolors Exported Palette - coolors.co/99ddc8-95bf74-659b5e-556f44-283f3b */

/* HSL */
$color1: hsla(161%, 50%, 73%, 1);
$color2: hsla(94%, 37%, 60%, 1);
$color3: hsla(113%, 24%, 49%, 1);
$color4: hsla(96%, 24%, 35%, 1);
$color5: hsla(170%, 22%, 20%, 1);

/* icky colous */
$robinsEgg: #99ddc8;
$pistachio: #95bf74;
$lightGreen: #659b5e;
$mediumGreen: #556f44;
$darkestGreen: #283f3b;
